<!--Наследование шаблона от default.html -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название страницы -->
{% block title %}
    Article
{% endblock title %}

{% block content %}
    <div style="margin: 10px 40px;">
        <h2 style="text-align: center;">{{ post.headline|censor }}</h2>
        <hr>
        <p style="text-align: justify;">{{ post.text|censor }}</p>
        <p>{{ post.dateAdd|date:'d.m.Y' }}</p>
        <p>Автор статьи: {{ post.creator }}</p>
    </div>
{% endblock content %}